@import './reset.css';
@import './board.css';

:root {
  --color-background: 34, 34, 59;
  --color-square-black: 154, 140, 152;
  --color-square-white: 242, 233, 228;
  --color-piece-black: 0, 20, 45;
  --color-piece-white: 242, 242, 242;
  --color-square-possible: 220, 116, 138;
  --color-square-selected: 94, 93, 116;
  --color-accent: 74, 78, 105;
  --square-size: 100px;
}

body {
  background: radial-gradient(circle, rgb(79, 79, 131) 0%, rgb(var(--color-background)) 90%)
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.info-bar-section {
  display: flex;
  padding: .5em;
  color: white;
  font-weight: 700;
  font-size: 1.2em;
  text-shadow: 1px 1px 1px rbga(0, 0, 0, .75);
  font-family: sans-serif;
}

.board-section {
}
